.slick-track {
    /* Ваши пользовательские стили */
    display: flex;
    align-items: center/* Пример: фон .slick-track */
}
.owl-carousel .owl-item img {
    height: auto; /* Поддержка соотношения сторон */
}
.owl-theme .owl-dots .owl-dot.active span {
    background-color: #10203A; /* Цвет активной точки */
}
.slick-carousel4 {
    display: flex;
    flex-direction: column; /* Располагает элементы вертикально */
}
.slick-carousel4 .slick-slide {
    display: block; /* Или display: flex; */
    height: 34px;
}
.slick-carousel4 .slick-track{
    display: flex;
    flex-direction: column;
}